<html>

    <head>
        <meta charset='utf-8'>
        <title>Study guide</title>
        <link rel="stylesheet" href="/static/style2.css" />
    </head>

    <body>
        <div class="main_container">
            <div class="header">
                <h1>Study Guide</h1>
            </div>
            <div class="table">
                <table>
                    <tr>
                        <th class="w"> Modules </th>
                        <th>Prerequisites</th>
                        <th class="semester">1. Semester</th>
                        <th class="ects">ECTS</th>
                        <th class="semester">2. Semester</th>
                        <th class="ects">ECTS</th>
                        <th class="semester">3. Semester</th>
                        <th class="ects">ECTS</th>
                        <th class="semester">4. Semester</th>
                        <th class="ects">ECTS</th>
                        <th>Needed ECTS</th>
                    </tr>
                <tbody>
                    <tr style="background-color: rgba(18, 95, 184, 0.5);">
                    <td style="font-weight: bold;">Mathematics</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    </tr>
                    <tr style="background-color: rgba(77, 148, 230, 0.5);">
                    <td style="font-weight: bold;">Computer Science</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    </tr>
                    <tr style="background-color: rgba(126, 177, 235, 0.5);"></trstyle>
                        <td style="font-weight: bold;">TAF</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="background-color: rgba(18, 95, 184, 0.5);">
                        <td style="font-weight: bold;">Seminar</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                    </tr>
                    <tr style="background-color: rgba(77, 148, 230, 0.5);">
                        <td style="font-weight: bold;">Programming Project</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="background-color: rgba(126, 177, 235, 0.5);">
                        <td style="font-weight: bold;">Master Thesis</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr style="background-color: rgba(0, 119, 255, 0.5);">
                    <td>ECTS</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    </tr>
                </tfoot>
                </table>
            </div>
        </div>
    </body>
</html>