.main_container{
    width: 100vw;
    height: 100vh;
}

.header{
    text-align: center;
    width: 100vw;
    color: rgb(8, 101, 223);
}

table {
    width: 99vw;
    margin: 20px auto;
    table-layout: auto;
  }
  
  table,
  td,
  th {
    border-collapse: collapse;
  }
  
  th {
      background-color: rgba(0, 119, 255, 0.5);
      color: rgb(247, 235, 235);
      text-shadow: 2px 2px rgba(0, 0, 0, 0.041);
  }

  th,
  td {
    padding: 10px;
    border: solid 1px black;
    text-align: center;
  }
  
  .w {
    width: 9vw;
  }

  .semester {
      width: 12vw;
  }

  .ects{
      width: 2vw;
  }
  
  