.main_container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: space-around;
    width: 100vw;
    height: 100vh;
}

.header{
    text-align: center;
    width: 100vw;
}

.rows{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
}

.modules{
    width: 6%; 
    text-align: center;
    border-right: solid rgb(0, 174, 255);
    padding: 1em;
    font-weight: bold;
}

.semester{
    width: 12%; 
    text-align: center;
    border-right: solid rgb(0, 174, 255);
    padding: 1em;
    font: medium bold sans-serif;
}

.ects{
    width: 3%;
    text-align: center;
    border-right: solid rgb(0, 174, 255);
    padding: 1em;
}

.reachedECTS{
    font-size: smaller;
    width: 5%; 
    text-align: center;
    border-right: solid rgb(0, 174, 255);
    padding: 1em;
    font-weight: bold;
}
