<html>

    <head>
        <meta charset='utf-8'>
        <title>Study guide</title>
        <link rel="stylesheet" href="/static/style.css" />
    </head>

    <body>
        <div class="main_container">
            <div class="header">
                <h1>Study Guide</h1>
            </div>
            <div class="rows">
                <div class="modules">Modules</div>
                <div class="semester" style="font-weight: bold;">1. Semester</div>
                <div class="ects">ECTS</div>
                <div class="semester" style="font-weight: bold;">2. Semester</div>
                <div class="ects">ECTS</div>
                <div class="semester" style="font-weight: bold;">3. Semester</div>
                <div class="ects">ECTS</div>
                <div class="semester" style="font-weight: bold;">4. semester</div>
                <div class="ects">ECTS</div>
                <div class="reachedECTS" style="font-weight: bold;">Reached ECTs</div>
            </div>
            <div class="rows">
                <div class="modules">Mathmatics</div>
                <div class="semester">
                    <p>Test 1</p>
                    <p>Test 2</p>
                </div>
                <div class="ects">ECTS</div>
                <div class="semester">2. Semester</div>
                <div class="ects">ECTS</div>
                <div class="semester">3. Semester</div>
                <div class="ects">ECTS</div>
                <div class="semester">4. semester</div>
                <div class="ects">ECTS</div>
                <div class="reachedECTS">Reached ECTs</div>
            </div>
        </div>
    </body>
</html>